<section>
  <div class="geral">
    <div class="imagem">
      <img src="assets/intro.png" alt="Minha foto de perfil">
    </div>

    <div class="conteudo">
      <div class="conteudo-titulo">
        <h1>Sobre mim</h1>
      </div>
      <div class="conteudo-texto">
        <p>Texto que irei colocar.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit...orem ipsum dolor sit amet consectetur adipisicing elit...</p>
        <p>Totam dolore a, accusamus sit vero consectetur minus...orem ipsum dolor sit amet consectetur adipisicing elit...</p>
      </div>
    </div>
  </div>
</section>
