<section>
  <div class="geral">
    <div class="imagem">
      <img src="assets/intro.png" alt="Minha foto de perfil">
    </div>

    <div class="conteudo">
      <h1>Sobre mim</h1>
      <p>Texto que irei colocar.</p>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore nostrum sapiente vitae dolore, ad nam maiores ipsa exercitationem eligendi iste fugit veritatis pariatur dolores aut officia soluta quidem voluptas ut.
      </p>
      <p>
        Totam dolore a, accusamus sit vero consectetur minus? Rem placeat ut voluptatem repudiandae repellendus obcaecati odio possimus voluptates laborum minus. Saepe, voluptas.
      </p>
    </div>
  </div>
</section>
