<section>
  <div class="geral">
    <div class="imagem">
      <img src="assets/intro.png" alt="Minha foto de perfil">
    </div>

    <div class="conteudo">
      <div class="conteudo-titulo">
        <h1>Sobre mim</h1>
      </div>
      <div class="conteudo-texto">
        <p>Além de atuar com Java, Spring Boot e Node.js, tenho conhecimento em Angular para a conexão entre frontend e backend. Estou sempre em busca de entender como minhas habilidades podem ser úteis para resolver problemas reais, criando software que faça a diferença. Estou comprometido com o aprendizado constante e a aplicação de tecnologias modernas para entregar soluções cada vez melhores.</p>
      </div>
    </div>
  </div>
</section>
