.intro-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  height: calc(100vh - 4.5rem);
  margin: 0 auto;
  border-radius: 10px;
  transition: all 0.3s ease;
  padding: 2rem 1rem;
}

.intro-text h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #ffffff;
}

.intro-text p {
  font-family: "Krona One", sans-serif;
  font-size: 1.2rem;
  line-height: 1.6;
  max-width: 31.25rem; 
  color: #dcdcdc;
  margin: 0.5rem 0;
}

.intro-img img {
  max-width: 20rem;
  transition: transform 0.3s ease;
  
}

.intro-img img:hover {
  transform: scale(1.05);
}

/* 📱 Smartphones bem pequenos (ex: iPhone 5) */
@media (max-width: 359px) {
  .intro-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 1.5rem;
  }

  .intro-text p {
    font-size: 0.8rem;
  }

  .intro-img img {
    max-width: 10rem;
  }
}

/* 📱 Smartphones modernos (ex: Galaxy S, iPhones recentes) */
@media (min-width: 360px) and (max-width: 440px) {
  .intro-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 1.5rem;
  }

    .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro-text p {
    
    font-size: 0.8rem;
    width: 85vw;
    margin-bottom: 2px;/* ou ajuste como preferir */
  }


  .intro-img img {
    max-width: 14rem;
  }
}

/* 📱 Phablets e tablets pequenos (ex: Galaxy Fold, tablets pequenos) */
@media (min-width: 441px) and (max-width: 767px) {
  intro-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .intro-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 2rem;
    margin-bottom: 1.2rem;
  }

  .intro-text p {
    font-size: 1.1rem;
    width: 80vw;
    margin-bottom: 0.3rem;
  }

  .intro-img img {
    max-width: 20rem;
  }
}

/* 💻 Tablets médios até notebooks pequenos */
@media (min-width: 768px) and (max-width: 990px) {
  .intro-container {
    flex-direction: column-reverse;
    text-align: center;
  }

  .intro-text h1 {
    font-size: 2.4rem;
    margin-bottom: 3.5rem;
  }

  .intro-text p {
    font-size: 1.6rem;
    text-align:center ;
  }

  .intro-img img {
    max-width: 25rem;
  }
}




