.formacao-section {
  padding: 60px 20px;
  text-align: center;
  background-color: #0c0b16
}
.formacao-section h2 {
  margin-bottom: 40px; /* você pode ajustar esse valor como preferir */
  font-size: 2rem; /* opcional, melhora o destaque do título */
}
.formacao-container {
  max-width: 800px;
  margin: 0 auto;
}

.card {
  background: white;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  text-align: left;
}

.full-width {
  width: 100%;
}

.card-row {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.half-width {
  flex: 1;
  min-width: 250px;
}
